{% extends 'base.html' %}
{% block title %}{{course.name}} - 布置作业{% endblock %}

{% block bread %}
<ol class="breadcrumb">
	<li><a href="{% url 'homework:assign-list' slug=course.slug %}">{{course.name}}</a></li>
	<li class="active">布置作业</li>
</ol>
{% endblock %}

{% block content %}
<form action="{% url 'homework:assign-new' slug=course.slug %}" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
	{% include 'account/form_snippet.html' %}
	{{ formset.as_p }}
	<div class="form-group">
		<div class="controls col-xs-offset-3 col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">新建</button>
		</div>
	</div>
</form>{% endblock %}
